@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  /* Colors */
  --voco-primary-color:#000;
  --voco-secondary-color:#fff;

  --voco-toit:#F99D27;
  --voco-ari:#EF4044;
  --voco-tehnika:#0089CF;
  --voco-ilu:#CADB36;
  --voco-it:#0DB14B;
  --voco-koolitused:#00B89D;

  --voco-register-form-bg:#2384C6;
--voco-box-shadow-color: #343a40;
  /* Padding */
  --voco-gutter-x:1.75rem;
  --voco-gutter-y:2.25rem;

/* Header */
  --voco-header-height: 10rem; 

/* Buttons */
  --voco-btn-weight:700;
  --voco-btn-text-size:1.5rem;

  /* Text Size */
  --voco-body-txt-size:1rem;
  --voco-h2-font:2.25rem;

}


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--voco-primary-color);
  color: var(--voco-secondary-color);
}
h1, h3, h4, h4, h5, h6{color: var(--voco-secondary-color) !important;}

code {
  font-family: 'Montserrat', sans-serif;
}

h1{
  text-transform: uppercase;
  font-weight: 800;
  color: #000;
}

.welcome-txt h2{
  text-transform: uppercase;

  font-size: var(--voco-h2-font);
}

header{height: var(--voco-header-height); position: relative;}
  .header-logo svg{position: absolute; top: var(--voco-gutter-x); left: var(--voco-gutter-y);}
  .header-logo img{position: absolute; top: 1.55rem; left: 8rem;}

footer{
  position:fixed;bottom: 0;background-color: var(--voco-primary-color);color: var(--voco-secondary-color);font-size: var(--voco-body-txt-size);width: 100%;height: auto; display: flex; column-gap: 2.5rem; padding: var(--voco-gutter-y) var(--voco-gutter-x) ;
}
  .contact-methods{
    display:flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    row-gap: 0.55rem
    ;
  }
    .contact-methods p,
    .contact-methods span{
      margin: 0 !important;
    }
  .fb-logo svg{fill:var(--voco-secondary-color); height: 64px;}
  .footer-logo-img{
    position: absolute;
    bottom: 0;
    right: 3.5rem;
  }

.welcome-txt{width: 60%; margin: auto;}
  .welcome-txt p{font-size: 1.5rem;width: 89%;margin: var(--voco-gutter-y) auto;}
.register_btn,
.start_test{margin-left:auto; margin-right: auto; box-sizing: border-box;}
  .register_btn_link{
    cursor: pointer;
    background-color: var(--voco-secondary-color);
    color: var(--voco-primary-color);
    font-size: var(--voco-btn-text-size);
    text-transform: uppercase;
    font-weight: var(--voco-btn-weight);
    border-radius: 25px;
    padding: 1.4375rem 1.59375rem;
  }
  .register_btn_link:hover{background-color: rgb(32, 196, 244);}


.form-container {
  max-width: 31.563rem;
  height: 41.875rem;
  padding: 2rem;
  margin: auto;
  background-color:var( --voco-register-form-bg) ;
  position:absolute;
  top:7.5rem;
  border-radius: 2rem;
  left: 0;
  right: 0;
}
  .form-container input[type=text],
  .form-container input[type=number]{
    width: 95%;
    padding: 15px;
    margin: 0.375rem 0 2rem 0;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
    height: 2rem;
    box-shadow: 2px 2px 7px var(--voco-box-shadow-color);
  }
  .form-container label *{
    font-size: var(--voco-body-txt-size);
    text-transform: uppercase;
    font-weight: 500;
  }
    .form-container h3{text-transform: uppercase;font-size: 2rem;color: var(--voco-secondary-color); margin: 0 0 2rem 0 ;}

  .start-test_btn{
    width: 12.211875rem;
    font-size: var(--voco-btn-text-size);
    text-transform: uppercase;
    font-weight: var(--voco-btn-weight);
    background-color: var(--voco-secondary-color);
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 7px  var(--voco-box-shadow-color);
    height: 3.284375rem;
  }
  .form-container >  .form-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 85%;
    margin: 2rem auto 1rem auto ;
  }


  
.dply-none{display: none;}
.block{display: block;}