@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --voco-primary-color:#000;
  --voco-secondary-color:#fff;

  --voco-toit:#F99D27;
  --voco-ari:#EF4044;
  --voco-tehnika:#0089CF;
  --voco-ilu:#CADB36;
  --voco-it:#0DB14B;
  --voco-koolitused:#00B89D;
  --voco-register-form-bg:#2384C6;

  --voco-gutter-x:1.75rem;
  --voco-gutter-y:2.25rem;


  --voco-header-height: 10rem; 


  --voco-h2-font:2.25rem;
  --voco-btn-text-size:1.5rem;
}


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--voco-primary-color);
  color: var(--voco-secondary-color);
}
h1, h3, h4, h4, h5, h6{color: var(--voco-secondary-color) !important;}

code {
  font-family: 'Montserrat', sans-serif;
}

h1{
  text-transform: uppercase;
  font-weight: 800;
  color: #000;
}

.welcome-txt h2{
  text-transform: uppercase;

  font-size: var(--voco-h2-font);
}

header{height: var(--voco-header-height); position: relative;}
  .header-logo svg{position: absolute; top: var(--voco-gutter-x); left: var(--voco-gutter-y);}
  .header-logo img{position: absolute; top: 1.55rem; left: 8rem;}

footer{
  position:fixed;bottom: 0;background-color: var(--voco-primary-color);color: var(--voco-secondary-color);font-size: 1rem;width: 100%;height: auto; display: flex; column-gap: 2.5rem; padding: var(--voco-gutter-y) var(--voco-gutter-x) ;
}
  .contact-methods{
    display:flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    row-gap: 0.55rem
    ;
  }
    .contact-methods p,
    .contact-methods span{
      margin: 0 !important;
    }
  .fb-logo svg{fill:var(--voco-secondary-color); height: 64px;}
  .footer-logo-img{
    position: absolute;
    bottom: 0;
    right: 3.5rem;
  }

.welcome-txt{width: 60%; margin: auto;}
  .welcome-txt p{font-size: 1.5rem;width: 89%;margin: var(--voco-gutter-y) auto;}
.register_btn{margin-left:auto; margin-right: auto; box-sizing: border-box;}
  .register_btn_link{
    cursor: pointer;
    background-color: var(--voco-secondary-color);
    color: var(--voco-primary-color);
    font-size: var(--voco-btn-text-size);
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 25px;
    padding: 1.4375rem 1.59375rem;
  }
  .register_btn_link:hover{background-color: rgb(32, 196, 244);}



/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 35.5625rem;
  padding: 2rem;
  margin: auto;
  background-color:var( --voco-register-form-bg) ;
  position:absolute;
  top:0;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {background-color: red;}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


.form-container h3{
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--voco-secondary-color);
  
}

.dply-none{
  display: none;
}

.block{
  display: block;
}